{% assign current_project = page.url | remove_first: "/" | split: "/" | first %}

<nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
	      <img src="{{ site.url }}/assets/logo/podlove-icon.svg" class="img-responsive" alt="Podlove Logo"> <img src="{{ site.url }}/assets/logo/podlove-font.svg" class="img-responsive" alt="Podlove" style="height: 35%">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if current_project == "podlove-publisher" %}class="active"{% endif %}><a href="/podlove-publisher/">Podcast Publisher</a></li>
        <li {% if current_project == "podlove-web-player" %}class="active"{% endif %}><a href="/podlove-web-player/">Web Player</a></li>
        <!-- 
        <li {% if current_project == "podlove-subscribe-button" %}class="active"{% endif %}><a href="/podlove-subscribe-button/">Subscribe Button</a></li>
         -->
      </ul>

      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
      </ul> -->
    </div><!-- /.navbar-collapse -->

  </div>
</nav>