@import "foundation"
@import "coderay"

#navigation-container
	background: #484846

	nav
		background: #1a1a1a
		color: #1a1a1a

div.podlove-panel
	@include panel(#E7E7E7)

	h3, h4
		color: #1a1a1a

code
	border: 1px solid #ccc
	background: #f9f9f9
	font-size: 0.9em
	padding: 0px 3px
	display: inline-block
	background-clip: padding-box
	border-radius: 3px