<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title><%= @item[:full_title] || 'Podlove &raquo; ' + @item[:title] %></title>

  <link rel="stylesheet" href="/assets/css/normalize.css" />
  <link rel="stylesheet" href="/assets/css/main.css">

  <script src="/assets/js/vendor/modernizr.js"></script>

</head>
<body>

  <%= render 'navigation' %>

  <% if @item[:is_front_page] %>
    <div class="podlove-panel">
      <div class="row">
        <div class="large-2 small-6 columns">
          <div class="th radius">
            <img src="/assets/images/podlove-logo.png">
          </div>
        </div>
        <div class="large-10 small-6 columns">
          <h3>
            Podlove wants to push the limits of podcasting by pushing new software solutions and open formats.
          </h3>
          <h4 class="subheader">
            Podlove is an initiative by 
            <a href="http://metaebene.me/" target="_blank">
              Metaebene Personal Media.
            </a>
          </h4>
        </div>
      </div>
    </div>
  <% else %>
    <div class="podlove-panel">
      <div class="row">
        <div class="small-12 columns">
          <h1><%= @item[:title] || content_for(@item, :title )%></h1>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="small-10 columns">
      <%= yield %>
    </div>
  </div>

</body>
</html>