<div id="navigation-container" class="contain-to-grid">

  <nav class="top-bar">

    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Podlove Documentation &amp; Guides</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="/publisher/">Publisher</a>
          <ul class="dropdown">
            <li><a href="/publisher/">Podlove Publisher</a></li>
            <% @items['/publisher/'].children.each do |item| %>
              <li><a href="<%= item.path %>"><%= item[:title] %></a></li>
            <% end %>
          </ul>
        </li>        
        <li class="has-dropdown">
          <a href="/developers/">Developers</a>
          <ul class="dropdown">
            <li><a href="/developers/">Podlove Development</a></li>
            <% @items['/developers/'].children.each do |item| %>
              <li><a href="<%= item.path %>"><%= item[:title] %></a></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </section>

  </nav>
  
</div>